@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body{
    background-color: rgb(241, 234, 234);
    font-family: 'Alex Brush', cursive;
}
.container{
    width: 1500px;
    text-align: center;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
.container .text{
    position: relative;
    color: rgb(255, 153, 190);
    font-size: 80px;
    font-weight: bold;
}

.container .text.line-1::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(241, 234, 234);
    border: none;
    border-left: 4px solid rgb(255, 153, 190);
    animation: line-1 2.5s steps(2);
    animation-fill-mode: forwards;
}


@keyframes line-1{
    10%{
        left: 10%;
    }
    20%{
        left: 20%;
    }
    30%{
        left: 30%;
    }
    40%{
        left: 40%;
    }
    50%{
        left: 50%;
    }
    60%{
        left: 60%;
    }
    70%{
        left: 70%;
    }
    80%{
        left: 80%;
    }
    90%{
        left: 90%;
    }
    100%{
        left: 100%;
    }
}

.next-arrow {
    /* text-align: center;
    margin:auto;*/
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;  */
    position: fixed;
    top: 45%;
    right: 28px;
    font-size: 50px;
    cursor: pointer;
    color: rgb(255, 153, 190);
}
.back-arrow{
    position: fixed;
    top: 45%;
    left: 28px;
    font-size: 50px;
    cursor: pointer;
    color: rgb(255, 153, 190);
}
